* {
  background-color: white;
}

div {
  display: flex;
  align-items: flex-start;
  gap: 36px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

body {
  background-color: black;
}